<div *ngIf="!role" class="choice-area">
  <h2>Rôle :</h2>
  <div class="choice-btn">
    <button (click)="setRole('client')">Client</button>
  <button (click)="setRole('support')">Support</button>
  </div>
</div>

<div class="chat-area" *ngIf="role && isConnected">
  <h3>Rôle : {{ role }}</h3>

  <ul id="messageArea">
    <li *ngFor="let message of messages" [ngClass]="{
      'chat-message': true, 
      'sent': message.sender === role, 
      'received': message.sender !== role
    }">
      <span *ngIf="message.type === 'CHAT'">{{ message.sender }}</span>
      <p>{{ message.type === 'CHAT' ? message.content : message.sender + ' ' + (message.type === 'JOIN' ? 'joined!' : 'left!') }}</p>
    </li>
  </ul>
  
  

  <input type="text" [(ngModel)]="message" placeholder="Message..." />
  <button (click)="sendMessage()">Envoyer</button>
</div>

<div *ngIf="!isConnected && role">
  {{ connectingMessage }}
</div>